In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("normalized_sc_2000vg_baron.csv")
df

,Unnamed: 0,REG3A,COL1A1,OLFM4,HAMP,COL1A2,TIMP3,H19,FN1,IGFBP5,...,GABRA1,GPR65,ITGAM,MSR1,NLRP3,CNTD2,ADGRG1,ATP1B2,LMO7,AJAP1
0,V1,2.666234,0.000000,0.000000,3.957222,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.368932,0.0,0.000000,0.0
1,V2,1.351171,0.000000,4.027002,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
2,V3,0.000000,0.000000,4.126566,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,V4,0.000000,0.417482,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.417482,0.0,0.000000,0.0
4,V5,0.000000,0.000000,2.331350,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.509045,0.0,0.509045,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8564,V8565,0.000000,5.203745,0.000000,0.000000,4.826789,4.214594,0.0,4.968821,4.705231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
8565,V8566,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
8566,V8567,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.714097,0.0
8567,V8568,0.000000,0.000000,1.730714,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
8568,V8569,2.210489,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [3]:
df = df.drop('Unnamed: 0', axis=1)
df

,REG3A,COL1A1,OLFM4,HAMP,COL1A2,TIMP3,H19,FN1,IGFBP5,COL3A1,...,GABRA1,GPR65,ITGAM,MSR1,NLRP3,CNTD2,ADGRG1,ATP1B2,LMO7,AJAP1
0,2.666234,0.000000,0.000000,3.957222,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.368932,0.0,0.000000,0.0
1,1.351171,0.000000,4.027002,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
2,0.000000,0.000000,4.126566,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
3,0.000000,0.417482,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.417482,0.0,0.000000,0.0
4,0.000000,0.000000,2.331350,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.509045,0.0,0.509045,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8564,0.000000,5.203745,0.000000,0.000000,4.826789,4.214594,0.0,4.968821,4.705231,4.141622,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
8565,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
8566,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.714097,0.0
8567,0.000000,0.000000,1.730714,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0
8568,2.210489,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0

In [22]:
label = pd.read_csv("Labels.csv")
label

                       x
0                 acinar
1                 acinar
2                 acinar
3                 acinar
4                 acinar
...                  ...
8564  activated_stellate
8565               alpha
8566                beta
8567                beta
8568              ductal

[8569 rows x 1 columns]

In [24]:
labels = label.x
labels

0                   acinar
1                   acinar
2                   acinar
3                   acinar
4                   acinar
               ...
8564    activated_stellate
8565                 alpha
8566                  beta
8567                  beta
8568                ductal
Name: x, Length: 8569, dtype: object

In [25]:
labels.value_counts()

beta                  2525
alpha                 2326
ductal                1077
acinar                 958
delta                  601
activated_stellate     284
gamma                  255
endothelial            252
quiescent_stellate     173
macrophage              55
mast                    25
epsilon                 18
schwann                 13
t_cell                   7
Name: x, dtype: int64

In [26]:
X_train, X_test, y_train, y_test = train_test_split(df, labels, stratify=labels,test_size=0.2, random_state=42)

In [27]:
X_train.to_csv("EnProCell_tool/train_set.csv")

In [28]:
y_train.to_csv("EnProCell_tool/train_label.csv")

In [29]:
X_test.to_csv("EnProCell_tool/test_set.csv")

In [30]:
y_test.to_csv("EnProCell_tool/test_label.csv")

In [31]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6855, 2000) (1714, 2000) (6855,) (1714,)